@import url("https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2&family=Fredoka+One&family=Permanent+Marker&display=swap");

@media (min-width: 768px) {
  .activeds:hover {
    background-color: aqua;
  }

  .actives {
    background-color: rgb(195, 241, 241);
  }

  .nav-link {
    font-family: "Baloo 2", cursive;
  }
}

@media (min-width: 500px) {
  .nav-link {
    font-family: "Baloo 2", cursive;
    margin-left: 10px;
  }

  .activeds:hover {
    background-color: aqua;
  }

  .actives {
    background-color: rgb(195, 241, 241);
  }
}

.seach-icon {
  margin-top: 6px;
  margin-left: 20px;
  cursor: pointer;
}

.icon-data {
  margin-left: 10px;
}

.pencari-data {
  margin-top: -25px;
  margin-left: 10px;
}

.tombol-transparant {
  background-color: transparent;
  border: none;
  color: #000000; /*ganti warna teks sesuai kebutuhan*/
  text-decoration: underline; /*opsional, menambahkan garis bawah pada teks*/
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.button-container {
  margin-left: 10px;
}
